@font-face{
  font-family: "GT-Alpina";
  src: url("./assets/GT-Alpina.otf");
}

@font-face{
  font-family: "Atlas-Grotesk";
  src: url("./assets/Atlas-Grotesk.otf");
}

@font-face{
  font-family: "Atlas-Grotesk-Bold";
  src: url("./assets/Atlas-Grotesk-Bold.otf");
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 200%;
}

a {
  color: inherit;
  text-decoration: none;
  transition: all $fade;
  cursor: pointer;
  &:hover {
    color: $green;
  }
}

* {
  box-sizing: border-box;
}

h1 {
  font-family: "GT-Alpina";
  font-weight: 200;  
  letter-spacing: 2px;
  font-size: 2.1rem;
}

h2 {
  font-family: "Atlas-Grotesk";
  font-size: 1.8rem;
}

h3 {
  font-family: "Atlas-Grotesk";
  letter-spacing: 0.5px;
  font-size: 0.9rem;
}

h4 {
  font-family: "GT-Alpina";
  font-weight: 100;
}

h5 {
  font-family: "Atlas-Grotesk";
  letter-spacing: 0.5px;
  font-size: 0.7rem;
  color: $body-light;
}

p {
  font-family: "Atlas-Grotesk";
}

line {
  stroke: $body;
  stroke-width: 3px;
  opacity: 0.25;
}

text {
  white-space: pre;
  fill: black;
  font-size: 60px;
}

ul {
  padding-left: 3rem;
  list-style-type: circle;
}

sup {
  font-size: 1rem;
  font-family: "Atlas-Grotesk-Bold";
 // margin-left: 1rem;
}

.container {
  min-height: 100vh; 
  padding: 0 0.5rem;
  height: 100vh;
  max-width: 1250px;
  left: 50%;
  transform: translateX(-50%);
  position: relative;
}

.fade-enter {
  opacity: 0;
  transform: scale(0.9);
}
.fade-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 300ms, transform 300ms;
}
.fade-exit {
  opacity: 1;
}
.fade-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 300ms, transform 300ms;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

.select { 
  -moz-user-select: text;
    -webkit-user-select: text;
      -ms-user-select: text;
        user-select: text;
  cursor: grabbing;
}

.bold {
  // font-weight: bold;
  font-family: "Atlas-Grotesk-Bold";
}

.ital {
  font-style: italic;
}

.body {
  color: $body;
}

::selection {
  color: $mint;
  background-color: $green;
}

.biglink {
  color: $mint;
  background-color: transparent;
  cursor: pointer;
  transition: all $fade;
  &:hover {
    background-color: $green;
  }
}

.link {
  color: $dark-green;
  background-color: transparent;
  transition: all $fade;
  cursor: pointer;
  &:hover {
    color: $mint;
    background-color: $green;
  }
}

// LAYOUT
.home {
  overflow: hidden;
  height: 100vh;
  position: relative;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  &_top {
    display: flex;
    justify-content: right;
    min-height: 10rem;
    border: 1px solid black;
  }
  &_middle {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    border: 1px solid black;
  }
  &_bottom {
    min-height: 10rem;
    border: 1px solid black;
  }
 }


// SMALL SCREEN
@media (min-width: 30em) {
  
}

// BIG SCREEN
@media (min-width: 60em) {
  
}



 


/*
.home {
  display: grid;
  grid-template-columns: 15rem 1fr 15rem;
  grid-template-rows: repeat(3, 1fr);
  overflow: hidden;
  height: 100vh;
  position: relative;
    &__nav {
      grid-column-start: 3;
      grid-column-end: 4;
      grid-row-start: 1;
      grid-row-end: 2;
      justify-self: end;
      padding: 1rem;
    }
    &__img {
      grid-column-start: 3;
      grid-column-end: 4;
      grid-row-start: 3;
      grid-row-end: 4;
    }
    &__card {
      transform:rotate(5deg);
      grid-column-start: 2;
      grid-column-end: 3;
      grid-row-start: 2;
      grid-row-end: 3;
      justify-self: center;
  }
  &__banner {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
    justify-self: end;
    align-self: end;
    padding: 1rem;
  }
 }
*/