.home {
 display: grid;
 grid-template-columns: 15rem 1fr 15rem;
 grid-template-rows: repeat(3, 1fr);
 overflow: hidden;
 height: 100vh;
}

.nav {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
  justify-self: end;
  padding: 1rem;
  &_link {
    color: $mint;
    cursor: pointer;
    transition: all $fade;
    &:hover {
      color: $green;
    }
  }
}

.banner {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 4;
  justify-self: end;
  align-self: end;
  padding: 1rem;
}